td {
  text-align: center;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(255, 0, 0);
  font-size: 2em;
}

td:hover {
  cursor: pointer;
  position: relative;
}

tbody {
  border: 1em;
  padding: 2em;
}

table {
  border-collapse: collapse;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.animate {
  transform: rotate(180deg);
  transition-duration: 1s;
}

.origin {
  transform: rotate(0deg);
  transition-duration: 1s;
}