body {
  background-color: var(--bgcolor);
}

table {
  justify-content: center;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  border-collapse: collapse;
}

td,
th {
  border: 5px solid  var(--tablecolor);
  text-align: center;
  height: 100px;
  width: 100px;
  color: var(--textcolor);
  font-size: 50px;
  -o-transition: color .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

body {
  justify-content: center;
  font-family: arial, sans-serif;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td:nth-child(1):hover {
  background-color: var(--cellAColor);
}

td:nth-child(2):hover {
  background-color: var(--cellBColor);
}

td:nth-child(3):hover {
  background-color: var(--cellCColor);
}

td:nth-child(4):hover {
  background-color: var(--cellDColor);
}
