@media (prefers-color-scheme: dark) {
  body {
    --tablecolor: rgb(255, 100, 100);
    --bgcolor: rgb(0, 0, 0);
    --textcolor: rgb(255, 255, 255);
  }
}

@media (prefers-color-scheme: light) {
  body {
    --tablecolor: rgb(255, 0, 0);
    --bgcolor: rgb(255, 255, 255);
    --textcolor: rgb(0, 0, 0);
  }
}

body {
  background-color: var(--bgcolor);
}

table {
  justify-content: center;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  border-collapse: collapse;
}

td,
th {
  border: 3px solid  var(--tablecolor);
  text-align: center;
  height: 100px;
  width: 100px;
  color: var(--textcolor);
  font-size: 50px;
}

body {
  justify-content: center;
  font-family: arial, sans-serif;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td:nth-child(1):hover {
  background-color: #ffd413c6;
}

td:nth-child(2):hover {
  background-color: #bdff3ac6;
}

td:nth-child(3):hover {
  background-color: #00bb25aa;
}

td:nth-child(4):hover {
  background-color: #3aceff8e;
}
