table {
  width: 400px;
  height: 100px;
}

td {
  text-align: center;
  color: #000000;
}

table, td {
  border: 1px solid #000000;
  background-color: #B9ECBE;
  border-collapse: collapse;
}

body {
  background-color: #EAE5E5;
}

.flipped {
  transform: rotate(180deg);
  transition: transform 1s ease;
}

.ReturnNormal {
  transform: rotate(0deg);
  transition: transform 1s ease;
}
